[Unit]
Description=Service for auto starting and stopping captures for incoming cowire attacker connections
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/bash /opt/tpot/etc/start_captures_service.sh
WorkingDirectory=/opt/tpot/etc
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

